<h1>Covid Tracker</h1>

<h4>Total New U.S. Cases today:</h4><p><%= @usCases %></p>

<h4>State:</h4><p><%= @state %></p>

<h4>Deaths today:</h4><p><%= @deaths %></p>

<h4>New Positives: </h4><p><p><%= @positives %></p>