<link href="stylesheets/application.css" rel="stylesheet" type="text/css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Covid-19 Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chart">Chart</a>
      </li>
      <li class="nav-item ">
      <a class="nav-link" href="/map">Map</a>
      </li>
    </ul>
    <form action="/search"  method="post" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name='state_name' type="search" placeholder="Search by State" aria-label="Search" input id="n">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-4" style="text-align:center;">United States COVID-19 Cases/Deaths</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.cdc.gov/coronavirus/2019-ncov/your-health/need-to-know.html" role="button">Current CDC Guidlines</a>
  </p>
</div>



<div class="container">
<p><em>Last Updated: </em><%= @update %></p></p>
  <div class="row">
    <div class="col-sm">
    <div class="card">
    <div class="card-body">
      <h4>New U.S. Cases Today:<br></h2><p><%= @usCases.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></p>
    </div>
    </div>
  </div>
    
  <div class="col-sm">
  <div class="card">
  <div class="card-body">
    <h4>New U.S. Deaths Today:</h2><p><%= @usDeaths.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></p>
  </div>
  </div>
</div>
    
    <div class="col-sm">
    <div class="card">
  <div class="card-body">
  <% @deathsPerMin = (@usDeaths/1440) %>
  <h4>Deaths per minute: U.S. </h4><p><%= @deathsPerMin %></p>
  </div
  </div>
</div>
    
  </div>
</div>










